<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            @if (Logins == null)
            {
                <tbody>
                    <tr>
                        <th>Loading....</th>
                    </tr>
                </tbody>
            }
            else
            {
                @if (IsDemo)
                {
                    <tr>
                        <th>Login</th>
                        <th>PhoneNumber</th>
                    </tr>
                    <tbody>
                    @foreach (var item in Logins)
                    {
                        <tr>
                            <td>@item.Login</td>
                            <td>@item.PhoneNumber</td>
                        </tr>
                    }
                    </tbody>
                }
                else
                {
                    <tbody>
                        <tr>
                            <th>Login</th>
                            <th>Surname</th>
                            <th>Name</th>
                            <th>PhoneNumber</th>
                            <th>Action</th>
                        </tr>
                    @foreach (var item in Logins)
        {
    <tr>
        <td>@item.Login</td>
        <td>@item.Name</td>
        <td>item.SurName</td>
        <td>@item.PhoneNumber</td>
        <td><button class="btn btn-primary">ShowSingle</button></td>
    </tr>
        }
    </tbody>
                

            }
        }

            </thead>

        </table>
</div>

    @code {
        [Parameter]
        public List<User> Logins { get; set; }
       
        [Parameter]
        public bool IsDemo { get; set; }      
    }