@page "/dropdown"
<h3>DropdownList</h3>
<div class="row border border-primary rounded p-4">
    <div class="col-sm-12 col-md-6">
        <input class="form-control mb-2 " @bind-value="Name" />
        <input class="form-control mb-2" @bind-value="Surname" />
        <input class="form-control mb-2" @bind-value="TeamName" />

        <button class="btn btn-outline-primary mb-2" @onclick="ButtonCheck">Add In List</button>
        <button class="btn btn-outline-danger mb-2" @onclick="ButtonCheck">Add In Team</button>
    </div>

    <div class="col-sm-12 col-md-6">
        <h3 mb-2>Name: @name</h3>
        <h3 mb-2>Surname: @surname</h3>
    </div>
</div>

<div class="row border border-danger rounded p-4 my-2">
    <div class="col-sm-12 col-md-6">
        <select class="form-control" @onchange="SelectionChaged">
            <option value="-1>\">"select Item"</option>
            @foreach (var item in listUser)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
    </div>
    <div class="col-sm-12 col-md-6 border-dark">
        <select class="form-control" @onchange="SelectionChaged">
            <option value="-1>\">select Team</option>
            @foreach (var item in listUser)
            {
                <option value="@item.Name">@item.Name</option>
            }
        </select>
    </div>
</div>



    @code {

        List<User> listUser = User.GetList();
        List<string> teams = new List<string>();

        public string Name { get; set; }
        public string Surname { get; set; }
        public string TeamName { get; set; }

        string name;
        string surname;


        string SelectedValue;
        public string Value { get; set; }

        private void ButtonCheck()
        {
            listUser.Add(new User(Name, Surname));
            Name = string.Empty;
            Surname = string.Empty;
        }

        private void SelectionChaged(ChangeEventArgs args)
        {
            var buff = listUser.Find(x => x.Name == args.Value.ToString());
            name = buff.Name;
            surname = buff.SurName;
        }

    }
