@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<LoginList Logins="@User.GetList()" IsDemo="false"/>
<ul class="nav flex-column">
        <li class="nav-item px-3">
            @foreach (var item in Logins)
				{
				@item.Login
				}
        </li>
        <li class="nav-item px-3">
            @User.GetListFromDb();
        </li>
        <li class="nav-item px-3">
            @User.GetListFromDb();
        </li>
        <li class="nav-item px-3">
            @User.GetListFromDb();
        </li>
    </ul>
@code{
   [Parameter]
	public List<User> Logins { get; set; }
}